<div class="products-section" id="products">
  <div class="heading" appAnimation animationType="fade-in">
    <h2>Products</h2>
  </div>

  <div class="products-container">
    <div
      class="product-item"
      appAnimation
      animationType="slide-in-left"
      [delay]="0.2"
    >
      <div class="product-card" appHoverCard>
        <img
          src="assets/images/flat-bar.jpg"
          alt="flat-bar"
          class="responsive-image"
        />
        <div class="product-info">
          <h3>Flat Bar</h3>
          <p>
            Flat bar steel is a solid metal rod with a flat, rectangular
            cross-section, commonly made from steel alloys. It is utilized in
            construction, fabrication, and manufacturing for applications
            requiring structural support, precise machining, or decorative
            elements.
          </p>
          <!-- <button class="learn-more-btn ripple-btn">Learn More</button> -->
        </div>
      </div>
    </div>
    <div
      class="product-item"
      appAnimation
      animationType="fade-in"
      [delay]="0.4"
    >
      <div class="product-card" appHoverCard>
        <img
          src="assets/images/square-bar.jpg"
          alt="square-bar"
          class="responsive-image"
        />
        <div class="product-info">
          <h3>Square Bar</h3>
          <p>
            Square bar steel is a solid metal rod with a square cross-section,
            commonly made from steel alloys. It is utilized in construction,
            fabrication, and manufacturing for applications requiring structural
            support, precise machining, or decorative elements.
          </p>
          <!-- <button class="learn-more-btn ripple-btn">Learn More</button> -->
        </div>
      </div>
    </div>
    <div
      class="product-item"
      appAnimation
      animationType="slide-in-right"
      [delay]="0.6"
    >
      <div class="product-card" appHoverCard>
        <img
          src="assets/images/round-bar.jpg"
          alt="round-bar"
          class="responsive-image"
        />
        <div class="product-info">
          <h3>Round Bar</h3>
          <p>
            Round bar is a cylindrical metal rod with a circular cross-section,
            typically made from steel alloys. Widely used in engineering,
            construction, and manufacturing for various applications requiring
            strength and durability.
          </p>
          <!-- <button class="learn-more-btn ripple-btn">Learn More</button> -->
        </div>
      </div>
    </div>
    <div class="products-container">
      <div
        class="product-item"
        appAnimation
        animationType="slide-in-left"
        [delay]="0.2"
      >
        <div class="product-card" appHoverCard>
          <img
            src="assets/images/brake-drum.jpg"
            alt="brake-drum"
            class="responsive-image"
          />
          <div class="product-info">
            <h3>Brake drum</h3>
            <p>
              A brake drum for a truck is a cylindrical component attached to
              the inside of a truck's wheel, rotating at the same speed as the
              wheel. It surrounds a set of brake shoes coated with friction
              materials.
            </p>
            <!-- <button class="learn-more-btn ripple-btn">Learn More</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
