<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section">
        <h4>Useful Links</h4>
        <ul>
          <li>
            <a (click)="scrollToSection('home')">Home</a>
          </li>
          <li>
            <a (click)="scrollToSection('products')">Products</a>
          </li>
          <li>
            <a (click)="scrollToSection('customize')">Customize Option</a>
          </li>
          <li>
            <a (click)="scrollToSection('aboutUs')">About Us</a>
          </li>
          <li>
            <a (click)="scrollToSection('contactUs')">Contact Us</a>
          </li>
          <li>
            <a (click)="scrollToSection('footer')">More Info</a>
          </li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>Follow Us</h4>
        <ul class="social-media-links">
          <li><a href="#"><img src="assets/images/facebook.png" alt="Facebook"></a></li>
          <li><a href="#"><img src="assets/images/instagram.jpg" alt="Instagram"></a></li>
        </ul>
        
        <b>Website Created By : Ashbir Dhiman</b>
        <ul>
          <li>Email: <a href="mailto:ashbir.dhimanwork@gmail.com">ashbir.dhimanwork&#64;gmail.com</a></li>
          <li>LinkedIn: <a href="https://www.linkedin.com/in/ashbir-d-310121178/" target="_blank">Ashbir Dhiman</a></li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      <b>Copyright © {{currentYear}}</b>
    </div>
  </div>
</footer>
